@import '../../../../assets/styles/variables';

$nav-color: white;
$nav-padding: $padding;
$nav-li-margin: 15px;
$nav-font-size: 13px;

.Nav {
  color: $nav-color;
  font-size: $nav-font-size;
  
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    padding: 10px 15px;
    border-radius: 4px;

    &:hover {
      background: rgba(255, 255, 255, .2);
    }

    &.is-active {
      background-color: #03a9f4;
    }
  }

  li {
    margin: 0 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}
